/* default style */
i.kpuline {
    font-style      : normal;
    text-decoration : underline;
    display         : inline-block !important;
}

.kpLiBgColor {
    background-color : forestgreen !important;
}

.kpLiBgColor > a > span {
    text-decoration : underline;
}

.stop-scrolling {
    height   : 100%;
    overflow : hidden;
}