/* default style */
i.kpuline {
    font-style      : normal;
    text-decoration : underline;
    display         : inline-block !important;
}

a.kpOrange {
    background-color : darkorange !important;
}